@font-face {
    src: url('./font/Lobster-Regular.ttf');
    font-family: logo;
}

@font-face {
    src: url("./font/Raleway-Bold.ttf");
    font-family: option;
}

@font-face {
    src: url("./font/Raleway-Bold.ttf");
    font-family: header;
}

@font-face {
    src: url("./font/Roboto-Regular.ttf");
    font-family: all;
}

.navbar {
	width: 100vw;
	height: 90px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.navbar>img {
	width: 60px;
}

.navbar_option {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}